*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-evenly;
    nav{
        display: flex;
        ul{
            display: flex;
            li{
                padding: 0 20px;
            }
        }
    }
}

footer {
    background-color: #FFFFFF;
    color: #808080;
    border: 1px solid #707070;

    display: flex;
    flex-direction: row;

    p{
        color: #818181;
    }
    span{
        color: #B2B2B2;
    }

}