body{
    background-image: url("images/spacer.gif");

    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 700px;
    margin: auto;
}

h1 {
    font-size: 15px;
    font-weight: 100;
}

p{
    font-size: 12px;
}

section {
    border: 1px solclass blue;
    display: flex;
    align-items: flex-start;

}
div.left{
    width: 300px;
}
.slightgrey{
    color: rgb(128, 124, 124)
.archive-main-div{
    display: flex;
    justify-content: space-between;
}
#div1, #div2, #div3{
    width: 33%;
    padding: 10px;
    margin: 10px;
}