body{
    background-image: url("images/spacer.gif");

    list-style: none;
}

.archive-main-div{
    display: flex;
    justify-content: space-between;
}
#div1, #div2, #div3{
    width: 33%;
    padding: 10px;
    margin: 10px;
}